ADMIN_INITIAL_PASSWORD=
APP_NETWORK_NAME=
CLAMAV_HOST=
CLAMAV_PORT=
DATABASE_URL=
DOCKER_HOST=
ESBIRKA_API_CONTEXT_PATH=
ESBIRKA_API_KEY=
ESBIRKA_BASE_URL=
GEMINI_API_KEY_2=
GITHUB_BRANCH=
GITHUB_REPOSITORY=
GITHUB_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GROQ_API_KEY=
JWT_SECRET=
MAILCOW_API_KEY=
MAILCOW_INTERNAL_IP=
MAILCOW_INTERNAL_URL=
MAILCOW_PUBLIC_URL=
MAILCOW_URL=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
OPENAI_BASE_URL=
PODMAN_API_TOKEN=
PODMAN_API_URL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
VERCEL_API_TOKEN=
VERCEL_DOMAIN=
WEBAUTHN_ORIGIN=
WEBAUTHN_RP_ID=
WEBAUTHN_RP_NAME=
WEBHOOK_SECRET=
XAI_API_KEY=